doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/index.css")
		title Fribo｜あなたを安全に目的地まで見届けます。
	body
		main
			div.index__first
				div.index__first--txt
					p.index__first--headline ボディーガード予約サービス
					h1.index__first--ttl Fribo
					p.index__first--description
						|あなたを安全に<br>
						|目的地まで見届けます。
					div.index__first--bunner
						img(src="img/app_dl.png",alt="アプリをダウンロード")
				div.index__first--img
					div
						img(src="img/app_image.png",alt="Fribo")
			section.index__about#about
				h2.index__sub--ttl About
				span.index__sub--description -私たちについて-
				div.index__about--grid
					dl.index__about--txt
						dt.index__about--ttl
							|目的地まであなたを
							span ボディーガード
							|。
						dd.index__about--description
							|夜道が怖い！！外で一人になりそう！！そんなときに、<br>
							|スマホひとつで団体側が人選した若手の格闘家たちが<br>
							|目的地まであなたを送り届けるサービスです。
					div.index__about--img
						img(src="img/about_img_1.png",alt="#")
					dl.index__about--txt
						dt.index__about--ttl 誠心誠意、私たちが見守ります。
						dd.index__about--description
							|暗い道を1人で歩くのが不安な時、怖い時。<br>
							|もう安心してください。
					div.index__about--img
						img(src="img/about_img_2.png",alt="#")
			section.index__flow#howtouse
				h2.index__sub--ttl How to use
				span.index__sub--description -使い方の流れ-
				div
					div
						div.index__flow--num
							span STEP
							div 01
						div.index__flow--wrap
							img(src="img/flow_img_1.png", alt="#")
							p
								|ボディーガードを<br>
								|リクエストする！
					div
						div.index__flow--num
							span STEP
							div 02
						div.index__flow--wrap
							img(src="img/flow_img_2.png", alt="#")
							p 待ち合わせして出発！
					div
						div.index__flow--num
							span STEP
							div 03
						div.index__flow--wrap
							img(src="img/flow_img_3.png", alt="#")
							p 安全に家まで帰ろう！
			section.index__fighter#aboutfighter
				h2.index__sub--ttl About fighter
				span.index__sub--description -格闘家について-
				div.index__about--ttl 安全性を確保して、事件を
					span 未然に防ぐ
					|。
				p.index__about--description ボディーガードといっても、暴力などであなたを守るわけではありません。目的地に着くまで所属している格闘家が、一定の距離からユーザーを見守り送り届けます。女性の夜道への不安を解消するために、屈強な男性が側で見守るサービスです。彼らを頼ることで心強くなり、安心して移動することができます。
				div
					div.index__fighter--gym
						ul
							li サービス所属ジム一覧
								ul
									li 細見格闘ジム
									li 岡崎ボクシングジム
									li SATOU GYM
									li 総合格闘技スタジオキノピオ
									li 格闘技教室 Team 田中
									li パーソナルトレーニングジムRYOSEI
									li kick box style yuri
									li まなみキックボクササイズジム
									li RUIボクシングジム
									li ルカクラブ
									li など
					div.index__fighter--img
						img(src="img/mahoshojo.png",alt="")
		footer
			div.foot__app
				div.foot__app--txt iOS・Androidアプリ配信中！
				div.foot__app--bunner
					img(src="img/app_dl.png",alt="アプリをダウンロード")
			div.foot__copy
				small ＠Fribo
		div.index__nav--icon
			div
		nav.index__nav#navRemove
			ul
				li
					a(href="#") Top
				li
					a(href="#about") About
				li
					a(href="#howtouse") How to use
				li
					a(href="#aboutfighter") About fighter
			div.index__nav--btn
				div
		script(type="text/javascript",src="//typesquare.com/3/tsst/script/ja/typesquare.js?609c02c5ecd44d0d801e149ae90393a3",charset="utf-8")
		script(src="js/index.js")
		//- script(type="text/javascript",src="//typesquare.com/3/tsst/script/ja/typesquare.js?609c02c5ecd44d0d801e149ae90393a3",charset="utf-8")
		//- include _foot.pug